<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">Acerca de</h2>
    <p class="text-zinc-300">Nuestros cursos han sido diseñados con el propósito de contribuir a la formación de los profesores de latinoamérica. Nuestra meta es compatibilizar el crecimiento profesional con el desarrollo personal, brindando un ambiente digital intuitivo, simple y actualizado a las temáticas relevantes que exige la enseñanza-aprendizaje del siglo XXI.</p>
</section>