---
import Features from '../../config/features.json'


---

<h1 class="text-center font-bold text-5xl mb-6">Características</h1>

<div class="grid md:grid-cols-3 gap-4 p-2">
    {
        Features.map((feature)=>(
            <div class="bg-slate-800 p-10 rounded-xl ">
                <h2 class="text-2xl font-bold my-4 text-center">{feature.title}</h2>
                <p class="text-justify">{feature.description} </p>
            </div>
        ))
    }
</div>