<footer class="bg-zinc-900 mx-auto flex flex-col py-10 gap-4 mt-5 rounded-xl">
    <div class="container mx-auto flex flex-col md:flex-row text-center justify-evenly gap-4">
        <div class="flex flex-col">
            <h4 class="font-bold text-xl mb-3">Sitio</h4>
            <a href="/">Inicio</a>
            <a href="/">Características</a>
            <a href="/">Proyectos</a>
            
        </div>
        <div class="flex flex-col">
            <h4 class="font-bold text-xl mb-3">Sobre Nosotros</h4>
            <p>Políticas de Calidad</p>
            <p>Políticas de Privacidad</p>
            <p>Aviso Legal</p>
        </div>
        <div class="flex flex-col">
            <h4 class="font-bold text-xl mb-3">Redes sociales</h4>
            <div class="flex flex-row gap-2">
                <a href=""><img src="/social_media/facebook.svg" class="w-8" alt=""></a>
                <a href=""><img src="/social_media/whatsapp.svg" class="w-8" alt=""></a>
                <a href=""><img src="/social_media/telegram.svg" class="w-8" alt=""></a>
                <a href=""><img src="/social_media/linkedin.svg" class="w-8" alt=""></a>
            </div>
        </div> 
    </div>
    <div class="text-center mt-4">
        <p>© 2023. Todos los derechos reservados</p>
    </div>
</footer>