---
import Button from './Button.jsx'
---

<header class="bg-zinc-900 flex flex-col md:flex-row p-10 gap-3 rounded-xl">

    <div>
        <h1 class="font-bold text-4xl pb-2">La educación es la herramienta del futuro.</h1>
        <p class="text-justify my-4">Nos importa la educación y estamos convencidos que su impacto genera grandes cambios en el mundo, es por eso que somos una institución educativa enfocada en buscar los mejores resultados académicos a través de una experiencia educacional inigualable, formamos estudiantes desde preescolar, primaria y bachillerato IB.
        </p>
        <div class="text-center">
            <Button client:load/>
        </div>
    </div>
    <img src="images/education.svg" class="w-96" alt="">

</header>