<section class="flex flex-col md:flex-row py-10 gap-y-10 md:p-20 align-middle gap-10">

    <div class="flex-1 grid grid-cols-2 gap-10">
        <div class="text-center">
            <img src="/landing_page/aula.svg" class="w-20 m-auto" alt="">
            <h2 class="font-bold mt-4">Apoyo en aula</h2>
            <p class="mt-4">Nuestra ayuda está enfocada al docente y su labor en la sala de clases.</p>
        </div>
        <div class="text-center">
            <img src="/landing_page/systems.svg" class="w-20 m-auto" alt="">
            <h2 class="font-bold mt-4">Integración de sistemas</h2>
            <p class="mt-4">Simplificamos el trabajo permitiendo que los sistemas conversen entre sí.</p>
        </div >
        <div class="text-center">
            <h2 class="font-bold mt-4">Soluciones modulares</h2>
            <img src="/landing_page/solution.svg" class="w-20 m-auto" alt="">
            <p class="mt-4">Flexibilidad para distintas necesidades de las instituciones educacionales.</p>
        </div>
        <div class="text-center">
            <h2 class="font-bold mt-4">Compromiso</h2>
            <img src="/landing_page/commitment.svg" class="w-20 m-auto" alt="">
            <p class="mt-4"> Aumenta los índices de satisfacción y compromiso en los estudiantes.</p>
        </div>
        
    </div>
    <div class="flex flex-1 flex-col gap-y-10 text-center m-auto">
        <h2 class="text-5xl font-bold">El futuro es hoy.</h2>
        <p class="text-3xl text-zinc-300">Este es un entorno colaborativo para aprender enseñando donde los estudiantes aprenden creando videos y evaluando el resultado de sus compañeros. Los mejores vídeos pueden pasar a formar parte de los recursos educativos.</p>
    </div>
</section>