---
// import Layout from "../Layouts/Layout.astro"
---

<!-- <Layout title=" About Me">
    <h1>about</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae maiores ea nam tempora minus, dolores illum. Nobis dolorum accusamus nesciunt maiores laboriosam soluta consequuntur. Labore, harum. Deserunt sapiente qui aliquam?
    Alias deserunt explicabo, nobis eius error maiores? Eveniet ab quos, maiores quod quis iure adipisci earum, ad optio vel sunt sit minus dolorum! Ratione, dignissimos? Necessitatibus facere consectetur esse laboriosam!</p>
</Layout> -->